/* ==UserStyle==
@name        Teapot
@version     2
@match       *://nitter.cf/*
@match       *://xitter.cf/*
@author      itsjoshpark
@downloadURL https://github.com/itsjoshpark/userscripts/raw/main/src/Teapot.css
@updateURL   https://github.com/itsjoshpark/userscripts/raw/main/src/Teapot.css
==/UserStyle== */

/* Hide header items */

a.nav-icon.sister-site,
a.nav-icon[title="RSS Feed"] {
  display: none;
}

/* Adjust gallery */

main .container {
  padding: 80px 20px 0;
}

.timeline-container.media-only {
  padding: 0;
}

.show-more a {
  padding: 0;
}

/* Hide go to top */

.top-ref {
  display: none;
}
