/* ==UserStyle==
@name        YouTube
@version     5
@match       *://*.youtube.com/*
@author      itsjoshpark
@downloadURL https://github.com/itsjoshpark/userscripts/raw/main/src/YouTube.css
@updateURL   https://github.com/itsjoshpark/userscripts/raw/main/src/YouTube.css
==/UserStyle== */

ytd-menu-renderer {
  opacity: 1 !important; /* Always show video menu button */
}

/* Header items */

ytd-masthead ytd-logo svg > g:first-child > path:first-child {
  filter: grayscale(1);
}

ytd-masthead ytd-logo svg > g:last-child {
  display: none !important;
}

ytd-masthead #gs_st50,
ytd-masthead ytd-text-input-assistant,
ytd-masthead #voice-search-button,
ytd-masthead #buttons ytd-topbar-menu-button-renderer:first-child,
ytd-masthead #buttons ytd-button-renderer,
ytd-notification-topbar-button-renderer,
ytd-icon-badge-topbar-button-renderer {
  display: none !important;
}

/* Sidebar section */

tp-yt-app-drawer ytd-guide-renderer #sections ytd-guide-section-renderer:nth-child(2) {
  border: none !important;
}

tp-yt-app-drawer ytd-guide-renderer #sections ytd-guide-section-renderer:nth-child(4),
tp-yt-app-drawer ytd-guide-renderer #sections ytd-guide-section-renderer:nth-child(5),
tp-yt-app-drawer ytd-guide-renderer #footer {
  display: none !important;
}

/* Video player */

ytd-player button[data-tooltip-target-id="ytp-autonav-toggle-button"],
ytd-player .ytp-chrome-top-buttons,
ytd-player .ytp-miniplayer-button,
ytd-player .ytp-pip-button,
ytd-player .ytp-size-button {
  display: none !important;
}

/* Video player pause/play overlay */

.ytp-bezel-text-hide {
  display: none !important;
}

/* Video actions buttons */

ytd-video-owner-renderer yt-img-shadow {
  filter: grayscale(1);
}

ytd-watch-metadata
  ytd-subscribe-button-renderer
  button.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--filled {
  color: rgba(241, 241, 241) !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
}

ytd-watch-metadata .top-level-buttons ytd-button-renderer,
ytd-watch-metadata ytd-download-button-renderer,
ytd-watch-metadata yt-button-view-model button[aria-label="Clip"],
ytd-watch-metadata yt-button-view-model button[aria-label="클립"],
ytd-watch-metadata yt-button-view-model button[aria-label="Share"],
ytd-watch-metadata yt-button-view-model button[aria-label="공유"],
ytd-watch-metadata yt-button-view-model button[aria-label="Thanks"] {
  display: none !important;
}

/* Video actions buttons section divider */

ytd-watch-metadata #above-the-fold #top-row {
  border: none !important;
}

/* Artist tickets */

ytd-watch-flexy #ticket-shelf {
  display: none !important;
}

/* Comments section */

ytd-comments ytd-comment-view-model yt-img-shadow {
  filter: grayscale(1);
}

ytd-comments ytd-item-section-renderer.ytd-comments > #header,
ytd-comments ytd-item-section-renderer.ytd-comments > #spinner-container,
ytd-comments ytd-comment-action-buttons-renderer #reply-button-end {
  display: none !important;
}

/* Related items section */

ytd-watch-next-secondary-results-renderer yt-related-chip-cloud-renderer {
  display: none !important;
}

ytd-watch-next-secondary-results-renderer yt-thumbnail-view-model img,
ytd-watch-next-secondary-results-renderer ytd-thumbnail img {
  filter: grayscale(1);
}

/* Video context menu */

ytd-popup-container ytd-menu-service-item-download-renderer {
  display: none !important;
}

/* Enhancer for YouTube extension */

#efyt-video-filters-panel {
  background-color: rgba(58, 58, 58, 0.7) !important;
  top: 0 !important;
}
#efyt-video-filters-panel > .efyt-video-filter:nth-child(1) {
  display: none !important;
}
#efyt-video-filters-panel > .efyt-video-filter:nth-child(4) {
  display: none !important;
}
#efyt-video-filters-panel > .efyt-video-filter:nth-child(5) {
  display: none !important;
}
#efyt-video-filters-panel > .efyt-video-filter:nth-child(6) {
  display: none !important;
}
#efyt-video-filters-panel > .efyt-video-filter:nth-child(7) {
  display: none !important;
}
#efyt-video-filters-panel > .efyt-video-filter:nth-child(8) {
  display: none !important;
}
#efyt-video-filters-panel .efyt-video-filter input {
  width: 50px !important;
  background: rgb(128, 128, 128) !important;
}
#efyt-video-filters-panel .efyt-video-filter input::-webkit-slider-thumb {
  background: rgb(146, 146, 146) !important;
}
#efyt-video-filters-panel button {
  font-size: 1em !important;
  padding: 0.1em !important;
}
